<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stall</title>
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/stall.css">
    <link rel="stylesheet" href="/cards.css">
    <link rel="stylesheet" href="/mystallcards.css">
</head>
<body>
    <%- include('./components/navbar.ejs', { user : user }) %>
    
    <div class="user-section">
        <img src="<%="https://avatars.steamstatic.com/" + user.avatar.substring(0, user.avatar.length - 4) + "_full.jpg"%>" alt="avatar" class="user-photo">
        <h2><%= user.display_name %></h2>
    </div>
    
    <div class="container">
        <div class="cards-container">
            <% if (items.length)
                items.forEach((item) => { %>
                <div id="<%=item.asset_id%>" class="item-card">
                    <h3><%=item.name%></h3>
                    <h4><%=maps.exteriorMap[item.exterior] ? maps.exteriorMap[item.exterior] : ""%></h4>
                    
                    <img src="<%=item.icon_url.startsWith("http") ? item.icon_url : "http://cdn.steamcommunity.com/economy/image/" + item.icon_url%>" alt="<%=item.name%>">
                    
                    <div class="paint-info">
                        <h3 class="paint-wear"><%=item.paint_wear%></h3>
                        <h3 class="paint-seed"><%=item.paint_seed%></h3>
                    </div>

                    <p>$<%=item.price%></p>
                    <button class="remove-button" data-asset-id="<%=item.asset_id%>">Remove Listing</button>
                </div>
            <% });
            else { %>
                <h2>No items in the stall</h2>
            <% } %>
        </div>
    </div>

    <script src="/mystall.js"></script>
</body>
</html>