<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="modal.css">
</head>
<body>
    <div class="main-content">
        <%- include('./components/navbar.ejs', { user : user }) %>
        <div class="container">
            <h1>Your inventory</h1>
            <h2 id="itemCount"><%=items.length%> items</h2>
            <div class="cards-container">
                <% items.forEach((item) => { if (item) { %>
                    <%- include('./components/sellcard', {item : item, maps : maps}) %>
                <% }}); %>
            </div>
        </div>

        <div id="sellModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-card">
                    <h3 id="modal-item-name"></h3>
                    <h4 id="modal-item-exterior"></h4>
                    <img id="modal-item-image" src="" alt="">
                    <div class="paint-info">
                        <h3 class="paint-wear" id="modal-item-wear"></h3>
                        <h3 class="paint-seed" id="modal-item-seed"></h3>
                    </div>
                    <input type="number" id="modal-custom-price" placeholder="Enter custom price">
                    <button id="confirm-sell">Confirm Sell</button>
                </div>
            </div>
        </div>    
    </div>
    <%- include('./components/footer.ejs') %>

    <script>
        let itemCount = <%= items.length %>;
    </script>
    <script src="/sell.js"></script>
</body>
</html>